body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: var(--clr-verypaleblue);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

